<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Contact</h3>
    </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Have a question or want further information?</p>
    <p>Fill in the short form and we will get back to you as soon as possible.</p>
    <br>
    <!-- BEGIN CONTACT PANEL -->
    <div class="panel panel-default well">
      <div class="panel-body">
        <%= simple_form_for @message, url: messages_path do |f| %>
          <div class="form-group">
              <div class="col-sm-12">
                  <div class="input-group">
                      <div class="input-group-addon">
                          <i class="fa fa-user"></i>
                      </div>
                      <%= f.input :name, placeholder: 'Enter name', input_html: { class: 'form-control' }, label: false %>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-12">
                  <div class="input-group">
                      <div class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                      </div>
                      <%= f.input :email, placeholder: 'Enter email', input_html: { class: 'form-control' }, label: false %>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-12">
                  <div class="input-group">
                      <div class="input-group-addon">
                          <i class="fa fa-comment fa-2"></i>
                      </div>
                      <%= f.input :body, placeholder: 'Enter your message here', input_html: { class: 'form-control', rows: '5' }, label: false %>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-12">
                <%= f.button :submit, 'Send', class: 'btn btn-default btn-info' %>
                <%= link_to 'Back', products_path, class: 'btn btn-default' %>
              </div>
          </div>
        <% end %>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
    <!-- END CONTACT PANEL -->
  </div>
  <!-- end col-md-8 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-md-12">
  </div>
</div>
<!-- /.row -->
