<h1>Download <%= @product.title %></h1>
<p>Thanks for buying "<%= @product.title %>". </p>
<% if @product.asset.exists? %>
  <p>Here is your download url <%= link_to "Download", download_url(guid: @sale.guid), target: :blank %></p>
<% else %>
  <p>Product is not finished yet, as soon as it does, you will get it first!</p>
<% end %>