<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-8">
        <%= image_tag @product.photo.url(:large), class: 'img-responsive' %>
      </div>
      <div class="col-md-4">
        <%= simple_form_for(@product, html: { class: 'form-horizontal' }) do |f| %>
          <%= f.input :title, placeholder: "Title" %>
          <%= f.input :description, placeholder: "Description" %>
          <%= f.input :price %>
          <%= f.input :asset, as: :file %>
          <%= f.input :photo, as: :file %>
          <div class="actions">
            <%= f.button :submit, class: "btn btn-primary" %>
            <%= link_to 'Back', :back, class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
