<div class='row'>
  <div class='col-md-2 sidebar'>
    <h3>Filters</h3>
    <ul class="nav nav-stacked">
      <li><a href='#'>Another Link 1</a></li>
      <li><a href='#'>Another Link 2</a></li>
      <li><a href='#'>Another Link 3</a></li>
    </ul>
  </div>
  <div class='col-md-10 products'>
    <div class="row">
      <h3>Products</h3>
    </div>
    <div class="row text-center">
      <% @products.each do |product| %>
        <div class="col-md-4 col-sm-4 feature">
          <div class="thumbnail">
            <%= image_tag product.photo.url(:thumb), class: 'img-responsive' %>
            <div class="caption">
              <h3><%= product.title.truncate(55) %></h3>
              <p><%= product.description.truncate(100) %></p>
              <p>
                <%= link_to 'More Info', product, class: 'btn btn-default' %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>