<!DOCTYPE html>
<html>
  <head>
    <title>Codeplace Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <%= render 'layouts/navbar' %>

    <!-- Page Content -->
    <div class="container">
      <%= yield %>
      <hr>

      <!-- Footer -->
      <%= render 'layouts/footer' %>
    </div>
    <!-- /.container -->
  </body>
</html>
